<div>
    <br><br>
    <h1 class="header center orange-text">{{tweetyCtrl.applicationName}}</h1>
    <div class="row center">
        <h2 class="header col s12 light">{{tweetyCtrl.musician.user.name}}</h2>
        <h3 class="header col s12 light">@{{tweetyCtrl.musician.user.accountName}}</h3>
        <img src="{{tweetyCtrl.musician.user.imageURL}}" />
        <h4 class="header col s12 light">Followers Count: {{tweetyCtrl.musician.user.followersCount}}</h4>
        <h4 class="header col s12 light">Tweets-Mentioned-Him Count: {{tweetyCtrl.musician.user.tweetsmentionedCount}}</h4>
        <h4 class="header col s12 light">Contributes Count: {{tweetyCtrl.musician.user.contributesCount}}</h4>
    </div>

    <div class="nav-bar-box">
        <div class="collection" style="width:200px">
            <a class="collection-item"
               ng-repeat="(topic,data) in tweetyCtrl.analyzedData"
               ng-class="{active: tweetyCtrl.isTabActiveDic[topic].isActive}"
               ng-click="tweetyCtrl.changeAnalyzeType(topic)">{{::tweetyCtrl.firstLetterAsCapital(topic)}}</a>
        </div>
    </div>
    

    <div id="platform" class="chart" ng-show="tweetyCtrl.tabsInfoDic['platform'].isActive"></div>
    <div id="languages" class="chart" ng-show="tweetyCtrl.tabsInfoDic['languages'].isActive"></div>

</div>
