<div>
    <br><br>
    <h1 class="header center orange-text">{{tweetyCtrl.applicationName}}</h1>
    <div class="row center">
        <h2 class="header col s12 light">{{tweetyCtrl.musician.user.name}}</h2>
        <h3 class="header col s12 light">@{{tweetyCtrl.musician.user.accountName}}</h3>
        <h4 class="header col s12 light">Choose Basic Analysis Filters:</h4>
    </div>
    

    <div class="center">
        <input type="checkbox" class="filled-in" id="platform" ng-model="tweetyCtrl.platform" />
        <label for="platform">platform</label>
        <br><br>
        <input type="checkbox" class="filled-in" id="language" ng-model="tweetyCtrl.language" />
        <label for="language">language</label>
        <br><br>
        <input type="checkbox" class="filled-in" id="hashTags" ng-model="tweetyCtrl.hashTags" />
        <label for="hashTags">hashTags</label>
        <br><br>
        <input type="checkbox" class="filled-in" id="contributers" ng-model="tweetyCtrl.contributers" />
        <label for="contributers">contributers</label>
    </div>
    
    <br><br>
    <div class="row center">
        <a class="btn-large waves-effect waves-light" ng-click="tweetyCtrl.nextPage()">Continue</a>
        <!--<a class="btn-large waves-effect waves-light" ng-click="tweetyCtrl.nextPage()">Skip</a>-->
    </div>
</div>