<div class="container">
    <br><br>
    <h1 class="header center orange-text">{{twittyCtrl.applicationName}}!</h1>
    <div class="row center">
        <h5 class="header col s12 light">Choose musician name:</h5>
    </div>
    <input class="center" style="width:30%" 
           type="text" 
           name="example" 
           list="exampleList" 
           ng-model="twittyCtrl.selectedMusician">
    <datalist id="exampleList">
        <option ng-repeat="(singer,id) in twittyCtrl.musicianDic" value="{{singer}}">
    </datalist>
    <div class="row center">
        <a class="btn-large waves-effect waves-light" ng-click="twittyCtrl.getMusicianBasicInfo()">Search</a>
    </div>
    <br><br>
</div>