<div class="container">
    <br><br>
    <h1 class="header center orange-text">{{tweetyCtrl.applicationName}}</h1>
    <div class="row center">
        <h5 class="header col s12 light">Choose musician name:</h5>
    </div>
    <input class="center" style="width:30%" 
           type="text" 
           name="example" 
           list="exampleList" 
           ng-model="tweetyCtrl.selectedMusician">
    <datalist id="exampleList">
        <option ng-repeat="(singer,id) in tweetyCtrl.musicianDic" value="{{singer}}">
    </datalist>
    <div class="row center">
        <a class="btn-large waves-effect waves-light" 
           ng-class="{disabled:!tweetyCtrl.selectedMusician}" 
           ng-click="tweetyCtrl.selectedMusician && tweetyCtrl.getMusicianBasicInfo()" 
           ng-if="!tweetyCtrl.isLoading">Search</a>
        <a class="btn-large waves-effect waves-light" 
           ng-class="{disabled:!tweetyCtrl.selectedMusician}" 
           ng-click="tweetyCtrl.selectedMusician && tweetyCtrl.nextPage(7)" 
           ng-if="!tweetyCtrl.isLoading">I'm Feeling Lucky</a>
        <div class="preloader-wrapper big active" ng-if="tweetyCtrl.isLoading">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>