<!--
<div>
    <h1>Welcome to {{twittyCtrl.applicationName}}!</h1>
    <h2>Our app let you analize your fevorite's twitts</h2>
    <a class="waves-effect waves-light btn" ng-click="twittyCtrl.getStarted()">Let's get started</a>
</div>    
-->

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Welcome to {{twittyCtrl.applicationName}}!</h1>
        <div class="row center">
            <h5 class="header col s12 light">Our app let you analize your fevorite's twitts</h5>
        </div>
        <div class="row center">
            <a class="btn-large waves-effect waves-light" ng-click="twittyCtrl.getStarted()">Let's get started</a>
        </div>
        <br><br>
    </div>
</div>